{% extends 'polls/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">Register</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
            <table>
                {{ form.as_table }}  {# Django form fields will be rendered here #}
            </table>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-primary">Register</button>
        </div>
    </form>
</div>
{% endblock %}