{% extends 'polls/base.html' %}

{% block title %}{{ question.question_text }}{% endblock %}

{% block content %}
<div class="poll-detail-container">
    <h1>{{ question.question_text }}</h1>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post" class="vote-form">
        {% csrf_token %}
        <fieldset>
            <legend>Select your choice:</legend>
            {% for choice in question.choice_set.all %}
                <div class="choice-option">
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"
                        {% if user_vote == choice %}checked{% endif %}>
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
                </div>
            {% endfor %}
        </fieldset>
        <button type="submit" class="vote-button">Vote</button>
    </form>
</div>
{% endblock %}
